node_modules
npm-debug.log
.serverless
.webpack
.DS_Store
cf-values.json
dist
lib
private
coverage
.aws.json
jest.config.personal.js
.generated.graphql
.generated.apollo.graphql
types.d.ts
integration-file-names.txt
src/appsync/__test__/data/*
jest.config.personal.js
